/bower_components
/config/ember-try.js
/coverage
/dist/ember
/dist/addon-test-support/**/*.d.ts
**/__tests__/
/lib/
/tests
/tmp
*.tgz
.*
bower.json
documentation.yml
ember-cli-build.js
RELEASE.md
rollup.config.js
testem.js
tsconfig.json
yarn.lock

# ember-try
.node_modules.ember-try/
bower.json.ember-try
package.json.ember-try
