---
language: node_js
node_js:
  - "6"

sudo: false
dist: trusty

addons:
  chrome: stable

cache:
  yarn: true

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH

install:
  - yarn install --no-lockfile

script:
  - yarn run build
  - yarn run test:coverage
  - yarn run test:ember

before_deploy:
  - yarn global add auto-dist-tag
  - auto-dist-tag --write

deploy:
  provider: npm
  email: info@simplabs.com
  api_key:
    secure: M7W16/OOzXqp/bIgkEwHI2hbI/R+QOsmbnMxPKn6GrqN6M/XyHdkwgGK97ObxYDg6+9UzngzQ0DI00ESmzMQgz6iShjUTb4dp4goGpS/P0iRRZ37nvoZgdz0W5NyAOOpqn7BPqBGdzYpzauQBUWYsYMFkCL3UVJAi2taygOKZRDEIAxf2qo19doxFR6Pev/EWpHnQY2Zrw/ONFWthBiIe848T9hVWIiqNm0yyEdyh14+wCJsXqPd06/+EHgfLCutjdqMZAN77BVurfBuJVTYgqfJMkcAoFZAZ0EOtj+2hPnMTrUduSPMPBp6Fx8ZTTvGY0+cBnOZJbJTXOgTzy8PatQRchHBjzPTZLOdnAZOGA2BDM1/CRvuzWT/hyUUfiZ74avtX8l+Viip3MLVvF4TLJ5zusexkIX//e4q8hW+m7ospvoXUOuz5gyeiB8r3izrW5jSQyyoUIv/F/Bq+WA9BddlblbygZ0LQzStv++b34AI/Hr54UBhMOR7zSo4uULkx3H0VAAiihKgrB88b2y19VYBz5f3AOYruGCg4rKM87Xso92LiiLPPpSCB7hzJQZtCInUT2NSTRKiGdp+wtBqYIG2TWPCzouSDJJTpuEijNL1DzWEIZ6zr+8cGO5VQ2rIyIKnMszn/QR5HMmTc0CF6CoPLPROtvoz9tGmEBMg9go=
  on:
    tags: true
    repo: simplabs/qunit-dom
