name: CI

on:
  push:
    branches:
      - master
      - 'v*'
  pull_request: {}
  schedule:
    - cron: '0 3 * * *' # daily, at 3am

env:
  PNPM_VERSION: 7.33.6

jobs:
  docs:
    name: API docs
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3.6.0
      - uses: pnpm/action-setup@v2.4.0
        with:
          version: ${{ env.PNPM_VERSION }}

      - uses: actions/setup-node@v3.8.1
        with:
          node-version: 16
          cache: pnpm

      - run: pnpm install
      - run: pnpm run docs

      # ensure there are no changes compared to the current API.md
      - run: git diff --exit-code

  test:
    strategy:
      matrix:
        node: ['14', '16', '18.17']

    name: Tests (Node.js v${{ matrix.node }})
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3.6.0
      - uses: pnpm/action-setup@v2.4.0
        with:
          version: ${{ env.PNPM_VERSION }}

      - uses: actions/setup-node@v3.8.1
        with:
          node-version: ${{ matrix.node }}
          cache: pnpm

      - run: pnpm install
      - run: pnpm build
      - run: pnpm lint
      - run: pnpm test:coverage --runInBand
      - run: pnpm test:ember

  compatibility:
    name: "Tests (Ember.js, ember-try: ${{ matrix.ember-try-scenario }}, Embroider: ${{ matrix.embroider }})"
    runs-on: ubuntu-latest

    strategy:
      matrix:
        embroider: ["true", "false"]
        ember-try-scenario:
          - ember-lts-3.28
          - ember-lts-4.12

    steps:
      - uses: actions/checkout@v3.6.0
      - uses: pnpm/action-setup@v2.4.0
        with:
          version: ${{ env.PNPM_VERSION }}

      - uses: actions/setup-node@v3.8.1
        with:
          node-version: 16
          cache: pnpm

      - run: pnpm install
      - run: pnpm build
      - run: pnpm --filter test-app try:one ${{ matrix.ember-try-scenario}} --skip-cleanup 
        env:
          USE_EMBROIDER: "${{ matrix.embroider }}"
